.app-header.navbar {
  position: fixed;
  flex-direction: row;
  height: $navbar-height;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $navbar-bg;
  box-shadow: $navbar-shadow;
  @include borders($navbar-border);
  .brand {
    width: $sidebar-width;
    background-color: $gray-brand;
    .navbar-toggler {
      color: $white;
    }
    .navbar-brand {
      display: inline-block;
      width: $navbar-brand-width;
      height: $navbar-height;
      padding: $navbar-padding-y $navbar-padding-x;
      margin-right: 0;
      background-image: $navbar-brand-logo;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: $navbar-brand-logo-size;
    }
  }

  .nav {

    .nav-item {
      .dropdown-menu-right {
        right:0;
        left:auto;
      }
    }
  }
}
