.sidebar {
  position: fixed;
  width: $sidebar-width;
  height: 100%;
  padding: $sidebar-padding;
  overflow: hidden;
  color: $sidebar-color;
  background: $sidebar-bg;
  @include borders($sidebar-borders);

  .sidebar-nav {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: calc(100vh - #{$navbar-height});
    @include sidebar-width($sidebar-borders, $sidebar-width);
    .nav {
      @include sidebar-width($sidebar-borders, $sidebar-width);
      flex-direction: column !important;
      .nav-item {
        position: relative;
        margin: 0;
        transition: background .3s ease-in-out;
        ul {
          max-height: 0;
          padding: 0;
          margin: 0;
          overflow-y: hidden;
          transition: max-height .3s ease-in-out;

          li {
            padding: 0;
            list-style: none;
          }
        }
        .nav-link {
          display: block;
          padding: $sidebar-nav-link-padding-y $sidebar-nav-link-padding-x;
          color: $sidebar-nav-link-color;
          text-decoration: none;
          background: $sidebar-nav-link-bg;
          @include borders($sidebar-nav-link-borders);
          border-radius: 0;

          &:hover {
            color: $sidebar-nav-link-hover-color !important;
            background: $sidebar-nav-link-hover-bg !important;
            @include borders($sidebar-nav-link-hover-borders);

            i {
              color: $sidebar-nav-link-hover-icon-color;
            }
          }
          &.active {
            color: $sidebar-nav-link-active-color;
            background: $sidebar-nav-link-active-bg;
            @include borders($sidebar-nav-link-active-borders);

            i {
              color: $sidebar-nav-link-active-icon-color;
            }
          }
          [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            margin-top: -4px;
            vertical-align: middle;
          }
          i {
            width: 20px;
            margin: 0 ($sidebar-nav-link-padding-x / 2) 0 0;
            font-size: 14px;
            color: $sidebar-nav-link-icon-color;
            text-align: center;
          }
        }
      }
    }
  }
}
